src/main/mule/greetings-app.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e3a8ceed-3642-4f50-a01d-fa189f090b2b" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="greetings-appFlow" doc:id="ad2f5817-8e33-4c04-9f8d-7d411f36940b" >
		<http:listener doc:name="GET /hiS" doc:id="bd99cbbe-4910-4afb-9327-4cfb88ff777b" config-ref="HTTP_Listener_config" path="/hi"/>
		<set-variable value="#[attributes.queryParams.'name' default 'Max\'s Friend']" doc:name="Set Variable" doc:id="7e2d653f-ce6d-437c-8f20-57b40bf9a611" variableName="name"/>
		<ee:transform doc:name="Transform Message" doc:id="c6ee9708-361a-43e6-8593-b5df1bc8c2d1" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message: "Hello " ++ vars.name ++ " Welcome to the MuleSoft world!!"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
